<launch>
  <!-- Turtle 1 -->
  <group ns="penyusatu">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>
    <node pkg="turtlesim_draw" type="draw_square.py" name="draw_square" output="screen"/>
  </group>

  <!-- Turtle 2 -->
  <group ns="penyudua">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>
    <node pkg="turtlesim_draw" type="draw_square.py" name="draw_square" output="screen"/>
  </group>

  <!-- Turtle 3 -->
  <group ns="penyutiga">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>
    <node pkg="turtlesim_draw" type="draw_square.py" name="draw_square" output="screen"/>
  </group>

  <!-- Turtle 4 -->
  <group ns="penyuempat">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>
    <node pkg="turtlesim_draw" type="draw_square.py" name="draw_square" output="screen"/>
  </group>

  <!-- Turtle 5 -->
  <group ns="penyulima">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>
    <node pkg="turtlesim_draw" type="draw_square.py" name="draw_square" output="screen"/>
  </group>

  <!-- Turtle 6 -->
  <group ns="penyuenam">
    <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" output="screen"/>
    <node pkg="turtlesim_draw" type="draw_square.py" name="draw_square" output="screen"/>
  </group>
</launch>
